@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");
:root{
  --color-violet-primary: #925ADD;
  --color-violet-secondary: #9733EE;
}
.color-violet-primary{
  color: var(--color-violet-primary);
}

.color-violet-secondary{
  color: var(--color-violet-primary);
}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family:"League Spartan", sans-serif;
  overflow-x:hidden !important;
  font-size:18px;
  color:#24272c;
  font-weight:400;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  font-family:"League Spartan",
  sans-serif;
  line-height:1.5;
  font-weight:600 !important
}

.blade-icons {
  font-size: 10px;
  width: 30px;
  height: 30px;
}

table {
  margin: 50px auto 10rem auto;
  max-width: 85em;
  outline: 1px solid #ccc;
}

.form-login {
  max-width: 400px;
  padding: 50px;
  margin: 50px auto;
  outline: 1px solid #ccc;
}

.card-user {
  margin: 50px auto;
  outline: 1px solid #ccc;
  width: 28rem;
}

.btn-register-home {
  color: white;
  background-color:  #925ADD;
  padding: 14px 35px;
  border-radius: 4px;
  font-weight: 600;
}


.btn-register-home:hover {
  background-color: #9733EE;
}

.img-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.img-schedule{
  width: 40rem;
  height: 38rem;
}

.text-justified{
  text-align: justify;
}

.btn-form {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  transition: 0.5s;
}

.btn-form:hover {
  background-image: linear-gradient(to left, #9733EE 51%, #DA22FF 100%, #9733EE 51%);
}

.text-big {
  font-size: 3.5rem;
}

.btn-form-call-action {
  padding: 15px 20px;
  background-color: #925ADD;
  border-radius: 0px;
  width: 28%;
}

.btn-form-call-action:hover {
  background-color: #9733EE;
}

.input-form-call-action {
  width: 18rem;
  border-radius: 0px;
  padding: 15px 20px;
}
.process-panel{
  max-width: 22rem;
  min-height: 10rem;
  background-color: white;
  outline: 1px solid #c8c4c4;
  text-align: center;
  border-radius: 10px;
  padding: 12px;
}


.process-panel-text-step{
  border-radius: 10px;
  width: 5rem;
  height: 2.5rem;
  padding: 4px 7px;
  text-align: center;
  background-color: #e1e0e0;
  display: flex;
  align-self: center;
  justify-content: center;
}

footer {
  background-color: #925ADD;
  padding-top: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 1.2rem;
}

.img-login{
  width: 500px;
  height: 300px;
}

.floating-image-container {
   overflow: hidden;
   position: relative;
}

.img-schedule {
    max-width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    height: auto;
    display: block;
    animation: floatAnimation 2.3s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

.process-panel {
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.26s ease-in-out;
}

.process-panel:hover {
  transform: translate(0, -14px);
}

.link-forget-password{
  color: #925ADD;
}

.img-about{
  height: 330px;
  width: 600px;
}

.card-overview{
  width: 25rem;
  height: 20rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 8px;
    transition: transform 0.26s ease-in-out;
}

.card-overview:hover{
    transform: translateY(-10px);
}

.alert{
  margin: 50px auto;
  max-width: 900px;
  opacity: 80%;
  text-align: center;
}

.textarea-coment {
  outline: 1px solid #ccc;
  padding: 17px;
  border-radius: 7px;
}

.card-profile {
  width: 40rem;
  margin: 7rem auto;
}

.card-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 15px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
}

.form-create-contact{
  outline: 1px solid #ccc;
  padding: 18px 50px;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.nav-a:hover{
 color: #925ADD;
}

.nav-a{
 color: black;
}
.ative {
 color: #2a0343;
}

.profile-container{
  padding: 80px 30px;
  width: 80rem;
  margin: 50px auto;
  background-color: #b3b3b3;
  opacity: 90%;
  margin-bottom: 10rem;
}

.img-profile {
  width: 13rem;
  height: 12rem;
  border-radius: 8px;
}

.input-profile > input {
  width: 100%;
  border-radius: 5px;
  padding: 8px 8px;
  color: white;
}


.input-profile > label {
  color: white;
}

.container-input-profile{
  width: 60%;
}

.container-img{
  height: 18rem;
  width: 15rem;
  background-color: #3e3c3e;
  padding: 10px;
}

.container-input-profile{
  background-color: #3e3c3e;
  padding: 15px 20px;
  border-radius: 5px;
}
